.attest{
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height : 100px;
    border-radius: 8px;
    padding: 20px 25px;
    max-width: 50%;
}

/*.attest .attest_lef{

}

.attest .attest_right{

}*/