.attest{
    background-color: darkgrey;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height : 50px;
    border-radius: 8px;
    padding: 20px 25px;
    max-width: 100%;
}



.attest .attest_right{
    margin-right: 20%;
}
