.profile {
    background-color: grey;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
}

.profile_name{
    line-height: 18px;
    padding: 20px;
}

.profile_name .name {
    /*text-transform: uppercase;*/
    font-size: 17px;
    font-weight: bold;
}

.profile_image{
  margin-top: -10px;   
}

.profile_image img{
    width: 100%; 
}