.header {
    background-color: #8a2ae3;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

